In [1]:
print("Hello Kunal")

Hello Kunal

In [2]:
a=10
b=10
print(a+b)

20

In [6]:
a=12
b=12.5
c="hello"
print(type(c))
#this is my first app

<class 'str'>

In [4]:
name=input("Enter Your Name")
print("Your Name is",name )

Enter Your NameKunal Kumar
Your Name is Kunal Kumar

In [7]:
a=10
b=24
print(a+b)

34

In [8]:
a=21
b=10
print(a*b)

210

In [9]:
a=10
b=5
print(a/b)

2.0

In [10]:
piggybank1=10
piggybank2=5
piggybank3=2
piggybank4=1
print(piggybank1+piggybank2+piggybank3+piggybank4)

18

In [13]:
a=56
b=45
if (a>b) :
    print("a is largest")
    print("hello")
else:
    print("b is largest")

a is largest
hello

In [20]:
meter=float(input("Enter your meter reading: "))
if(meter>100):
    unit=(100*5.95)+((meter-100)*6.95)
else:
    unit=meter*5.95
print("Your total amount is: ",unit)

Enter your meter reading: 250
Your total amount is:  1637.5

In [16]:
a=20
b=22
print(a+b)

42

In [21]:
CA_Total=100
CA_Wtg=25
MTT_Total=40
MTT_Wtg=20
ETE_Total=70
ETE_Wtg=50


course_code=input("Enter course code\n")
CA_obtained_Marks=float(input("Enter total CA obtained marks\n"))
MTT_obtained_Marks=float(input("Enter total MTT obtained marks\n"))
ETE_obtained_Marks=float(input("Enter total ETE obtained marks\n"))
Att=float(input("Enter total Attendance Marks\n"))
CA=(CA_obtained_Marks*CA_Wtg)/CA_Total
MTT=(MTT_obtained_Marks*MTT_Wtg)/MTT_Total
ETE=(ETE_obtained_Marks*ETE_Wtg)/ETE_Total
Total=CA+MTT+ETE+Att
print("---Report Card----")
print("Percentage in",course_code,Total,end="")
print("%")
print("CGPA in",course_code,Total/10,end="")

Enter course code
CAP776
Enter total CA obtained marks
29
Enter total MTT obtained marks
30
Enter total ETE obtained marks
39
Enter total Attendance Marks
5
---Report Card----
Percentage in CAP776 55.10714285714286%
CGPA in CAP776 5.510714285714286